* {
  font-family: "Montserrat", sans-serif;
}

body,
#app {
  height: 100vh;
}
.cs-btn {
  color: var(--text-color);
  background-color: var(--btn-color);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  transition: .5s;
  &:hover {
    background-color: var(--secondary-color);
  }
}
