// * importo il font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

// * creo le variabili per i colori principali
:root {
--primary-bg-color: #2e0d27;
--secondary-bg-color: #530f43;
--btn-color: #5C164E;
--secondary-color: #9B287B;
--text-color: #fce4fb;
}